<!DOCTYPE html>
<html>
<head><title>HopeBridge</title></head>
<body>
  {% extends 'base.html' %}

{% block content %}
<h1>Welcome to HopeBridge</h1>
<p>NGO Portal for Donations, Volunteers, and Relief Programs</p>
<div class="list-group" style="max-width: 300px;">
    <a href="/donors/" class="list-group-item list-group-item-action">Donors</a>
    <a href="/volunteers/" class="list-group-item list-group-item-action">Volunteers</a>
    <a href="/events/" class="list-group-item list-group-item-action">Events</a>
    <a href="/programs/" class="list-group-item list-group-item-action">Programs</a>
    <a href="/donations/" class="list-group-item list-group-item-action">Donations</a>
</div>
{% endblock %}
</body>
</html>